.header {
    grid-area: header;
    background-color: #00000007;
    height: 70px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
}

.logo {
    margin: 0 20px;
    float: left;
}

.logo img {
    width: 64px;
}

.auth_block {
    float: right;
    margin: 25px;
}

.auth_block a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
