.cover {
    position: absolute;
    background-color: #47BC9B;
}

.cover img {
    width: 960px;
    height: 200px;
    opacity: .6;
    object-fit: cover;
}

.avatar {
    position: relative;
    top: 50px;
    left: 50px;
    margin-bottom: 200px;
}

.avatar img {
    border-radius: 50%;
    width: 124px;
}

.description span.fullName {
    font-weight: bold;
    font-size: 34px;
}

.description img {
    width: 128px;
    height: 128px;
}